<h2>E-mail para recuperação de senha</h2>
<p>Olá {{ name }}, parece que você esqueceu sua senha</p>
<p>Aqui está o link para você troca-la: </p>
<p>
  <a href="{{ link }}" target="_blank">Clique aqui para trocar de senha.</a>
</p>
